:root {
	--background: #fbfbfb;
	--mainprimary:   #B7934B;
	--maindark: #855f19;
	--black:  #000000;
	--white: #FFFFFF;
	--grey: #666666;
	--darkgrey: #333333;
	--gradient:#198aa5;
	/* Design by Facundo A. Strauch and Brian Corbalan */
}


  .bold{
	  font-weight: 700;
  }

body, html {
	font-family: 'Lato', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: var(--grey);
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	font-family: 'Lato', sans-serif;
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 34px;
	color: var(--mainprimary);
}
h3{
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	font-weight: 700;
	font-style: italic;
	color: var(--mainprimary);
}
p {
	font-size: 16px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: var(--mainprimary);
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: var(--black);
}
.logo_text{
	font-size: 17px;
    text-align: right;
    margin-bottom: 5px;
}
.subtitle{
	text-transform: uppercase;
	font-size: 18px;
	color: var(--white);
	margin: 0 0 10px 0;
}
.hugetext{
	font-size: 80px;
    color: var(--mainprimary);
    text-align: center;
	font-weight: 700;
}
.italic{
	font-style: italic;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 3px;
	width: 70px;
	text-align: center;
	position: relative;
	background: var(--mainprimary);
	margin: 0 auto;
	margin-bottom: 20px;
	border: 0;
}
.tx-center{
	text-align: center;
}
.tx-right{
	text-align: right;
}

.flex{
	display: flex;
}
.flex_end{
	display: flex;
	justify-content: flex-end;
}
.mb-3em{
	margin-bottom: 3em;
}

/* Navigation */
#menu {
	padding: 20px;
	transition: all 0.8s;
}
.logo_img{
	height: 80%;
	margin-top: 0;
}

@media (max-width: 300px){
	.logo_img {
		height: 80%;
		margin-top: 8px;
	}
}

@media (max-width: 992px) {
	.logo_img {
		height: 80%;
		margin-top: 4px;
	}
}

@media (max-width: 767px) {
	.logo_img {
		margin-left: 20px;
	}
}

#menu.navbar-default {
	background-color: rgba(248, 248, 248, 0);
	border-color: rgba(231, 231, 231, 0);
}
#menu a.navbar-brand {
	font-size: 26px;
	font-weight: 600;
	color: var(--mainprimary);
	padding: 0;
}
#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: var(--mainprimary);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 8px 2px;
    border-radius: 0;
    margin: 9px 15px 0 15px;
}

@media (max-width: 992px) {
	#menu.navbar-default .navbar-nav > li > a {
		margin: 9px 5px 0 5px;
	}
}



#menu.navbar-default .navbar-nav > li > a:hover {
	color: var(--maindark);
}
.on {
	background: -prefix-linear-gradient(left, var(--white),var(--white));
	background: linear-gradient(to left, var(--white), var(--white)); !important;
	padding: 0 !important;
	padding: 10px 0 !important;
	filter: drop-shadow(0px 0px 5px rgba(117, 117, 117, 0.3));
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: var(--maindark) !important;
	background-color: transparent;
}
.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: var(--white);
	border-color: var(--white);
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: var(--mainprimary);
}
.section-title {
	margin-bottom: 30px;
}
.section-title p {
	font-size: 18px;
}
.w75{
	width: 75%;
    margin: auto;
}

.btn-custom {
	text-transform: uppercase;
    color: var(--white);
    background-color: var(--mainprimary);
    padding: 15px 20px;
    letter-spacing: 1px;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    border-radius: 0px;
    margin-top: 20px;
    transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: var(--white);
	background-color: var(--maindark);
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

.btn-custom-in {
	text-transform: uppercase;
	color: var(--mainprimary);
	background-color: transparent;
	padding: 10px 20px;
	letter-spacing: 1px;
	font-size: 17px;
	font-weight: 400;
	border-radius: 0px;
	margin-top: 20px;
	transition: all 0.3s;
}
.btn-custom-in:hover, .btn-custom-in:focus, .btn-custom-in.focus, .btn-custom-in:active, .btn-custom-in.active {
	color: var(--white);
	background-color: var(--mainprimary);
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Header Section */
.intro {
	display: table;
	width: 100%;
	min-height: 100vh;
	padding: 0;
	background: url(../img/hero_bg.jpg) top center no-repeat;
	background-color: var(--background);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

.logo_animated{
	width: 100%;
}

.w100{
	width: 100%;
}

.flex{
	display: flex;
	flex-direction: column;
}

.flex-row{
	display: flex;
	flex-direction: row;
}

.flex-row-responsive{
	display: flex;
	flex-direction: row;
}

.justify-content-center{
	justify-content: center;
	display: flex;
}

.align-center{
	display: flex;
	align-items: center;
}


#tailor{
	display: flex;
	background: var(--white) url(../img/tailor-made/tailor_background.jpg) center center no-repeat;
	background-size: cover;
	min-height: 100vh;
}

#tresuary{
	display: flex;
	background: var(--white) url(../img/tresuary/tresuary-bg.jpg) center center no-repeat;
	background-size: cover;
	min-height: 100vh;
}

#digital-a{
	display: flex;
	background: var(--white) url(../img/digital-collateral/digital-one-bg.jpg) center center no-repeat;
	background-size: cover;
	min-height: 50vh;
}
#digital-b{
	display: flex;
	background: var(--white) url(../img/digital-collateral/digital-two-bg.jpg) center center no-repeat;
	background-size: cover;
	min-height: 50vh;
}

/* Contact Section */
#contact {
	padding: 100px 0;
	background: var(--background) url(../img/contact/world-map.svg) center center no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	justify-content: center;
}
#contact .section-title p {
	color: var(--grey);
}
#contact form {
	padding: 0;
	margin-top: 40px;
}

#contact .text-danger {
	color: var(--secondarymain);
	text-align: left;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 25px 25px;
	font-size: 16px;
	line-height: 1.42857143;
	color: var(--darkgrey);
	background-color: var(--white);
	background-image: none;
	border: 1px solid #ddd;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	outline: 0;
	-webkit-box-shadow: 0 0 5px #ddd;
	box-shadow: 0 0 5px #ddd;
}
.form-control::-webkit-input-placeholder {
color: var(--grey);
}
.form-control:-moz-placeholder {
color: var(--grey);
}
.form-control::-moz-placeholder {
color: var(--grey);
}
.form-control:-ms-input-placeholder {
color: var(--grey);
}
#contact .contact-info {
	margin-bottom: 30px;
}
#contact .contact-info hr {
	background: var(--secondarymain);
}
#contact .contact-item {
	margin: 20px 0 40px 0;
}

#team .mt0{
	margin-top: 15px;
	margin-bottom: 50px;
}


.map{
    margin-top: 2em;
    margin-bottom: 3em;
    width: 60%;
}

.float-right{
	float: right;
}
/* Footer Section*/
#footer {
	background: var(--mainlight);
	padding: 30px 0 20px;
}
#footer h3 {
	color: var(--mainprimary);
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
#footer .social {
	margin: 10px 0 30px 0;
}
#footer .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#footer .social i.fa {
	font-size: 22px;
	width: 40px;
	height: 40px;
	padding: 10px;
	background: var(--white);
	color: var(--mainprimary);
	border-radius: 50%;
	transition: all 0.3s;
}
#footer .social i.fa:hover {
	background: var(--mainprimary);
	color: var(--white);
}
#footer p {
	color: var(--darkgrey);
	font-size: 15px;
}
#footer a {
	color: var(--mainprimary);
}
#footer a:hover {
	color: var(--maindark);
}

.white{
	color:var(--white);
  }

  .grey{
	  color: var(--grey);
  }

  .maincolor{
	  color: var(--mainprimary);
  }

  .mainprimary{
	  color: var(--mainprimary);
  }